<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
          <img src="../../assets/avatar.jpeg" />
        </ion-avatar>
        <ion-card-title>{{name}}</ion-card-title>
        <ion-card-subtitle>{{description}}</ion-card-subtitle>
      </ion-card-header>
      <ion-button (click)="handleClick()">Voltar</ion-button>
    </ion-card>
  </div>
</ion-content>
